[submodule "platforms/esp-idf"]
	path = platforms/esp-idf
	url = https://github.com/MakerAsia/kbpro-esp-idf-platfrom
[submodule "platforms/arduino-esp32"]
	path = platforms/arduino-esp32
	url = https://github.com/MakerAsia/kbpro-arduino-platfrom
[submodule "boards/kidbright"]
	path = boards/kidbright
	url = https://github.com/comdet/kidbright-board-kbide
[submodule "boards/kbpro"]
	path = boards/kbpro
	url = https://github.com/MakerAsia/kbpro-board
