.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn.lock
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
node_modules
release
boards/kidbright/build/
clang_source.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

#Electron-builder output
/dist_electron
boards/kbpro/build
dist_electronupdater-log.txt
#build
boards/esp32-wrover/lib/README.md
boards/esp32-wrover/include/pins_arduino.h
boards/esp32-wrover/context.json
boards/esp32-wrover/config.js
boards/esp32-wrover/compiler.js
boards/esp32-wrover/README.md
boards/esp32-wrover/LICENSE
boards/esp32-wrover/.gitattributes
boards/esp32-wrover/template.c
boards/esp32-wrover/static/esp32-wrover_datasheet_en.pdf
boards/esp32-wrover/static/display.jpg
boards/esp32-wrover/plugin/README.md
boards/esp32-wrover/include/KBProTime.h
boards/esp32-wrover/include/KBProTime.cpp
boards/esp32-wrover/block/config.js
package-lock.json
INSTALLED
boards/arduino-nano/
boards/arduino-mega/
