[submodule "platforms/esp-idf"]
	path = platforms/esp-idf
	url = https://github.com/MakerAsia/kbpro-esp-idf-platfrom
[submodule "boards/kidbright-arduino"]
	path = boards/kidbright-arduino
	url = https://github.com/MakerAsia/kidbright-arduino-board.git
