@font-face {
  font-family: Manjari-Bold;
  src: url(../fonts/Manjari/Manjari-Bold.ttf);
}

@font-face {
  font-family: Manjari-Regular;
  src: url(../fonts/Manjari/Manjari-Regular.ttf);
}

@font-face {
  font-family: Manjari-Thin;
  src: url(../fonts/Manjari/Manjari-Thin.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

.blocklyTreeLabel, .blocklyText, .text-loading {
	font-family: Manjari-Bold, sans-serif !important;
	font-weight: 700 !important;
}

.blocklyTreeLabel {
	padding-right: 20px;
}

