primary = #4285F4 !important
success = #00C851 !important
success-dark = #007E33 !important
danger = #ff4444 !important
white = #ffffff !important
gray-400 = #d9d9d9 !important
gray-800 = #8c8c8c !important

.disabled
  background-color: gray-400
  color: white

/* Start Background */
.bg-white
  background-color: white

.bg-success
  background-color: success

.bg-success-dark
  background-color: success-dark

.bg-danger
  background-color: danger

.bg-primary
  background-color: primary

.bg-gray-400
  background-color: gray-400

.bg-gray-800
  background-color: gray-800

/* End Background */

/* Start Text */
.font-bold
  font-weight: bold

.text-white
  color: white

.text-gray
  color: gray

.text-success
  color: success

.text-success-dark
  color: success-dark

.text-danger
  color: danger

.text-primary
  color: primary

.font-size-14
  font-size: 14px

.font-size-16
  font-size: 16px

.font-size-18
  font-size: 18px

/* End Text */

/*  Start Button */

.btn-success
  background-color: success
  color: white

.btn-danger
  background-color: danger
  color: white

.btn-primary
  background-color: primary
  color: white

.btn-gray
  background-color: gray
  color: white

.btn-gray-400
  background-color: gray-400
  color: white

.btn-gray-800
  background-color: gray-800
  color: white

/* End Button */

/* Start Layout */
.float-right
  float: right

.text-right
  text-align: right

.form-control
  border: 1px solid primary
  border-radius: 3px
  padding: 5px 10px 5px 10px
  width: 100%

/* End Layout */
